<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINLIST - Stock Watchlist</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="heading">
        <h1>FINLIST</h1>
    </div>
    <div class="table">
        <div class="tr">
            <div class="th">Stock Symbol</div>
            <div class="th">Price</div>
            <div class="th">Today's Open</div>
            <div class="th">Previous Close</div>
        </div>
        {% for stock in stock_data %}
        <div class="tr">
            <div class="td">{{ stock.symbol }}</div>
            <div class="td">{{ stock.price }}</div>
            <div class="td">{{ stock.open }}</div>
            <div class="td">{{ stock.p_close }}%</div>
        </div>
        {% endfor %}
    </div>

    <div class="form">


    <form method="POST" action="/add">
        <input type="text" name="stock_symbol" placeholder="Enter Stock Symbol" required>
        <button type="submit">Add</button>
    </form>
    </div>
    <h2>Add Stock to Watchlist</h2>
    
</body>
</html>
