<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINLIST - Stock Watchlist</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Stock Watchlist</h1>
    <table>
        <tr>
            <th>Stock Symbol</th>
            <th>Price</th>
            <th>Today's Open</th>
            <th>Previous Close</th>
        </tr>
        {% for stock in stock_data %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.open }}</td>
            <td>{{ stock.p_close }}%</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Add Stock to Watchlist</h2>
    <form method="POST" action="/add">
        <input type="text" name="stock_symbol" placeholder="Enter Stock Symbol" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>
